*{
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #667eea, #764ba2);
  }
  
  form {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
  }
  
  form h2 {
    margin-bottom: rem;
    color: #333;
    text-align: center;
  }

  input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
  }
  
  button {
    
    background: #667eea;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover {
    transition: all 0.3s ease;
    background: #5a67d8;
  }
  